@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-rgb: 0, 0, 0;
}
body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}
.swiper {
	width: 500px;
	height: 650px;
}
.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
li::marker {
	font-size: 30px;
}
.premium li::marker {
	color: #fdbb14;
}
.swiper-pagination-bullets {
	margin-bottom: 10px;
}
.swiper-pagination-bullet {
	padding: 5px;
	background-color: #fdbb14 !important;
}
.ReactCollapse--collapse {
	transition: height 500ms;
}
::-webkit-scrollbar {
	width: 0px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(78, 78, 78);
	border-radius: 10px;
	height: 200px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}
