@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-rgb: 0, 0, 0;
}
body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}
.swiper {
	width: 500px;
	height: 650px;
}
.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
li::marker {
	font-size: 30px;
}
.premium li::marker {
	color: #FDBB14;
}
