@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-rgb: 0, 0, 0;
}
body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}
.auth-pages .swiper {
	width: 500px;
	height: 650px;
}
@media screen and (max-width: 768px) {
	.auth-pages .swiper {
		height: 700px;
	}
}
.reviews .swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	color: #fff;
}
.list-item > li::marker {
	font-size: 30px;
}
.swiper-pagination-bullets {
	margin-bottom: 10px;
}
.swiper-pagination-bullet {
	padding: 5px;
	background-color: #a1a1a1 !important;
}
.ReactCollapse--collapse {
	transition: height 500ms;
}
::-webkit-scrollbar {
	width: 0px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(78, 78, 78);
	border-radius: 10px;
	height: 200px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

@layer base {
	.text-outline {
		-webkit-text-stroke: 4px rgb(177, 177, 177);
	}
	.text-outline-sm {
		-webkit-text-stroke: 1px rgb(177, 177, 177);
	}
}

.bg-custom-0 {
	background: linear-gradient(to top right, #111010, #292828, #6d6d6d);
}
.bg-custom-1 {
	background: linear-gradient(to top right, #4d35c8, #4c3d9a, white);
}
.bg-custom-2 {
	background: linear-gradient(to top right, #5cbe2d, #33962e, white);
}
.bg-custom-3 {
	background: linear-gradient(to top right, #ff7a00, #ff8622, white);
}
.bg-custom-4 {
	background: linear-gradient(to top right, #1650a8, #3376da, white);
}
.bg-custom-5 {
	background: linear-gradient(to top right, #258d99, #13daf0, white);
}
.bg-custom-6 {
	background: linear-gradient(to top right, #d59500, #ff8622, white);
}

.border-corner:hover {
	position: relative;
}
.border-corner:hover::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 20px;
	padding: 1px;
	background: linear-gradient(
		-45deg,
		#818181 0%,
		#ffffff00 25%,
		#ffffff00 75%,
		#818181 100%
	);

	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}
.border-corner-default {
	position: relative;
}
.border-corner-default::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 20px;
	padding: 1px;
	background: linear-gradient(
		-45deg,
		#818181 0%,
		#ffffff00 25%,
		#ffffff00 75%,
		#818181 100%
	);

	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}
.border-right-gradient {
	border-right-width: 4px;
	border-style: solid;
	border-image: linear-gradient(
			to bottom,
			rgba(236, 34, 39, 0) 0%,
			#ec2227 40.62%,
			#f99b18 60.42%,
			rgba(249, 155, 24, 0) 100%
		)
		1;
}
.border-bottom-gradient {
	border-bottom-width: 3px;
	border-style: solid;
	border-image: linear-gradient(
			to right,
			rgba(236, 34, 39, 0) 20%,
			#f99b18 40.62%,
			#ec2227 60.42%,
			rgba(249, 155, 24, 0) 80%
		)
		1;
}
@keyframes starAnimation1 {
	0% {
		width: 0;
	}
	30% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	100% {
		transform: translate(-150%, 150%) translate(-50%, 0);
		width: 200px;
		opacity: 0;
	}
}

@keyframes starAnimation2 {
	0% {
		width: 0;
	}
	30% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	100% {
		transform: translate(-160%, 200%) translate(-50%, 0);
		opacity: 0;
		width: 200px;
	}
}

@keyframes starAnimation3 {
	0% {
		width: 0;
	}
	30% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	100% {
		transform: translate(-200%, 200%) translate(-50%, 0);
		opacity: 0;
		width: 180px;
	}
}

@keyframes starAnimation4 {
	0% {
		transform: translate(-50%, -200%) translate(0, 0);
		opacity: 0;
	}
	30% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	100% {
		transform: translate(-150%, 50%) translate(-50%, 0);
		opacity: 0;
	}
}

@keyframes starAnimation5 {
	0% {
		transform: translate(-50%, -50%) translate(0, 0);
		opacity: 0;
	}
	30% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	100% {
		transform: translate(-400%, 400%) translate(-50%, 0);
		opacity: 0;
	}
}

.header-img-1 {
	position: absolute;
	top: 180px;
	left: 150px;
	animation: starAnimation1 4s infinite;
}

.header-img-2 {
	position: absolute;
	top: 200px;
	right: 260px;
	animation: starAnimation2 2s infinite;
	opacity: 0;
	-webkit-animation-delay: 2.5s;
}

.header-img-3 {
	position: absolute;
	top: 310px;
	left: 372px;
	animation: starAnimation3 2s infinite;
	-webkit-animation-delay: 5s;
	opacity: 0;
}

.header-img-4 {
	position: absolute;
	top: 300px;
	right: -100px;
	animation: starAnimation5 2s infinite;
	-webkit-animation-delay: 10s;
	opacity: 0;
}

.selected-flag {
	background-color: #0f0f0f !important;
	width: 100% !important;
	border-radius: 6px !important;
	transition: 0.3s;
}
.selected-flag:hover {
	background-color: #202020 !important;
}
.country-list {
	background-color: #1d1d1d !important;
	color: white !important;
	border-radius: 7px !important;
	border: 1px solid #353535;
}
.country:hover {
	background-color: #313131 !important;
}
.country.highlight {
	background-color: #474747 !important;
}
